.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  min-height: 58px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-blue;
  border: none;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $button-disabled;
  }
}
