.legend {
  position: relative;
  max-width: 500px;
  min-height: 191px;
  padding-top: 32px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    min-height: 160px;
  }

  &--modal {
    min-height: auto;
    padding-top: 40px;

    @media (min-width: $tablet-width) {
      padding-top: 35px;
    }
  }
}

.legend__title {
  padding: 0 25px;
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--modal {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 40px;
      padding: 0 80px;
      margin-bottom: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }

  &--fs30px {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-top: 27px;
      padding-bottom: 5px;
    }
  }

  &--mt34px {
    @media (min-width: $tablet-width) {
      margin-top: 34px;
    }
  }
}

.legend__lead {
  padding: 0 20px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $radio;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 5px;
  }

  &--modal {
    padding: 0 45px;

    @media (min-width: $tablet-width) {
      padding: 0 40px;
    }
  }

  &--padding35 {
    @media (min-width: $tablet-width) {
      padding: 0 35px;
    }
  }
}

.legend__triangle {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 100px;
  clip-path: polygon(50% 19%, -6% 0, 106% 0);
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//Form

.legend--form {
  min-height: 150px;
  padding-top: 36px;
  padding-bottom: 17px;

  @media (min-width: $desktop-width) {
    padding-top: 87px;
    padding-bottom: 0;
  }
}

.legend--form .legend__title {
  margin-bottom: 28px;
}

.legend--form .legend__lead {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

//Catalog

.legend--catalog {
  min-height: 150px;
  padding-top: 26px;
  padding-bottom: 13px;

  &-bottom {
    min-height: 160px;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: $tablet-width) {
      padding-top: 28px;
      margin-bottom: 53px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.legend--catalog .legend__title {
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.legend--catalog-bottom .legend__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.legend--catalog-bottom .legend__lead {
  @media (min-width: $tablet-width) {
    padding: 0 25px;
  }
}
