.modal-failure {
  min-width: 320px;
  max-width: 400px;
  position: absolute;
  left: 50%;
  bottom: 719px;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: 345px;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    bottom: 232px;
  }
}

.modal-failure__text {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.modal-failure__button .button {
  min-width: 180px;

  @media (min-width: $tablet-width) {
    min-width: 272px;
  }
}
