.modal-success {
  position: absolute;
  left: 50%;
  bottom: 348px;
  transform: translateX(-50%);
  max-width: 640px;
  min-height: 300px;

  @media (min-width: $tablet-width) {
    min-width: 640px;
    bottom: 505px;
  }
}

.modal-success__text {
  margin-top: 5px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }
}

.modal-success .button {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-size: 18px;
  line-height: 26px;
}

.modal-success__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $controls-grey;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.modal-success__button .button {
  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}
