.photo {
  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.photo__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__item {
  position: relative;

  &:last-child {
    border-bottom: 1px solid $form-groupe-grey;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;

    &--extended {
      grid-column: span 2;
    }
  }

  @media (min-width: $desktop-width) {
    &--extended {
      grid-column: span 3;
    }
  }
}

.photo__item__wrapper {
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 21px;
  border-top: 1px solid $form-groupe-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.photo__item__img {
  width: 100%;
  max-height: 280px;
  background-color: $bcg-photo;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-height: 400px;
  }
}

.photo__about {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    background-color: $input-grey;

    &--contrast {
      background-color: $bcg-photo-title;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $basic-white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__title__groupe {
  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 22px;
  }
}

.photo__like {
  display: flex;
}

.photo__like__like-icon {
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: $basic-white;
    opacity: 1;
  }
}

.photo__item__title,
.photo__like__numbers,
.photo__item__author {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.photo__item__title {
  margin: 0;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }
}

.photo__like__numbers {
  display: block;
  margin-left: 14px;
  min-width: 52px;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
  }
}

.photo__item__author {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  text-transform: none;
  color: $radio;

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}
