.promo__wrapper {
  position: relative;
  margin-bottom: 105px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.promo__video {
  max-width: 800px;
  margin: 0 auto;
  background-color: $bcg-photo;
}

.promo__video__img {
  width: 100%;
  max-height: 201px;
  background-color: $bcg-photo;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-height: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
  }
}

.promo__controls {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.promo__controls__progress {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  min-height: 45px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: $basic-black;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    min-height: 93px;
  }
}

.promo__controls__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 66px;
  width: 100%;
  background-color: $controls-grey;

  @media (min-width: $tablet-width) {
    &--not-mobile {
      display: none;
    }
  }
}

.promo__controls__buttons__left {
  &--not-mobile {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.promo__controls__buttons__right {
  &--not-mobile {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.promo__controls__scale {
  height: 3px;
  width: 100%;
  margin-right: 23px;
  margin-left: 23px;
  background: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.promo__controls__toggle {
  position: absolute;
  left: 57px;
  width: 10px;
  height: 10px;
  background-color: $basic-white;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 204px;
  }
}

.promo__controls__buttons__icon {
  fill: $controls-icon;
  cursor: pointer;

  &:hover {
    fill: $radio;
  }

  &:active {
    fill: $radio;
    opacity: 0.3;
  }

  &--replay {
    margin-left: 25px;

    @media (min-width: $tablet-width) {
      margin-left: 35px;
    }
  }

  &--subtitles {
    margin-right: 25px;

    @media (min-width: $tablet-width) {
      margin-right: 30px;
    }
  }

  &--fullscreen {
    margin-right: 23px;

    @media (min-width: $tablet-width) {
      margin-right: 41px;
    }
  }

  @media (min-width: $tablet-width) {
    fill: $basic-white;

    &:hover {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
