//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-blue: #81b3d2;
$basic-grey: #eeeeee;
$border-grey: #d6d6d6;
$bcg-photo: #b4986b;
$bcg-photo-title: #eaeaea;

//Main-nav-current-colors
$current-page: #766357;
$current-page-hover: #604e43;

//Buttons-colors
$button-hover: #669ec0;
$button-active: #5496bd;
$button-disabled: #e5e5e5;

//Form-colors
$icon-grey: #f6f6f6;
$form-groupe-grey: #f5f5f5;
$input-grey: #f2f2f2;
//input-grey-hover = $button-disabled: #e5e5e5
$input-grey-active: #d5d5d5;
$radio: #333333;
$groupe-border-grey: #dbdbdb;

//Video
$controls-grey: #f2f2f2;
$controls-icon: #5c6870;
// $controls-icon-hover = $radio: #333333;

// Viewprts
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
